body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  margin: 10px;
}

form{
  background-color: lightgray;
  padding: 5px;
  border: black 1px solid;
  margin: 1px;
}

h4 {
  margin: 1px;
}

table {
  display: flex;
  flex-direction: column;
  border: black solid 1px;
}